{% extends "layout/base.html.twig" %}

{% block title %}
	{{ block('page_title') }}
	- Administration
{% endblock %}

{% block navbar_brand %}
	<a href="{{ path('app_dashboard') }}">
		<img src="{{ asset('logo.svg') }}" alt="Tarmac" height="10">
	</a>
{% endblock %}

{% block navbar_menu %}
	<div class="navbar-nav">
		{% if is_granted('ROLE_ADMIN') %}
			<a class="nav-link" href="{{ path('app_club_index') }}" style="min-height: 44px;">
				<span class="nav-link-icon d-md-none d-lg-inline-block">
					<i class="ti ti-windsock"></i>
				</span>
				<span class="nav-link-title d-md-none d-lg-inline-block">
					Clubs
				</span>
			</a>
		{% endif %}

		{% if is_granted('ROLE_ADMIN') or app.user.hasManagerAccess %}
			<a class="nav-link" href="{{ path('app_user_index') }}" style="min-height: 44px;">
				<span class="nav-link-icon d-md-none d-lg-inline-block">
					<i class="ti ti-users"></i>
				</span>
				<span class="nav-link-title d-md-none d-lg-inline-block">
					Utilisateurs
				</span>
			</a>
		{% endif %}
	</div>
{% endblock %}

{% block user_dropdown_menu %}
	<a href="{{ path('app_profile_edit') }}" class="dropdown-item">
		<i class="ti ti-user"></i>
		Mon profil
	</a>
	<div class="dropdown-divider"></div>
	<a href="{{ path('public_logout') }}" class="dropdown-item">
		<i class="ti ti-logout"></i>
		Déconnexion
	</a>
{% endblock %}

{% block body %}
	{# Page Header with Title #}
	<div class="page-header d-print-none">
		<div class="container-xl">
			<div class="row g-2 align-items-center">
				<div class="col">
					{% block page_header %}
						<h2 class="page-title">
							{{ block('page_title') }}
						</h2>
					{% endblock %}
				</div>
				<div class="col-auto ms-auto d-print-none">
					{% block page_actions %}{% endblock %}
				</div>
			</div>
		</div>
	</div>

	{# Page Body with Container #}
	<div class="page-body">
		<div class="container-xl">
			{% block page_content %}{% endblock %}
		</div>
	</div>
{% endblock %}

{# Define the page_title block that child templates will override #}
{% block page_title %}{% endblock %}
