{% extends 'club/base.html.twig' %}

{% block page_title %}
	{{ 'editWelcomeMessage'|trans }}
{% endblock %}

{% block page_content %}
	<div class="card">
		<div class="card-header">
			<h3 class="card-title">{{ 'editWelcomeMessage'|trans }}</h3>
		</div>
		<div class="card-body">
			{{ form_start(form) }}
			<div class="mb-3">
				{{ form_label(form.welcomeMessage) }}
				{{ form_widget(form.welcomeMessage) }}
				{{ form_help(form.welcomeMessage) }}
				{{ form_errors(form.welcomeMessage) }}
			</div>

			<div class="form-footer">
				<a href="{{ path('club_dashboard') }}" class="btn btn-secondary">
					{{ 'cancel'|trans }}
				</a>
				<button type="submit" class="btn btn-primary">
					<i class="ti ti-check me-2"></i>
					{{ 'save'|trans }}
				</button>
			</div>
			{{ form_end(form) }}
		</div>
	</div>
{% endblock %}

