{% extends 'public/base.html.twig' %}

{% block title %}Mot de passe oublié
{% endblock %}

{% block body %}
	<div class="page page-center">
		<div class="container container-tight py-4">
			<div class="text-center mb-4">
				<a href="{{ path('public_landing') }}" class="navbar-brand navbar-brand-autodark">
					<img src="{{ asset('logo.svg') }}" height="48" alt="Tarmac">
				</a>
			</div>
			<div class="card card-md">
				<div class="card-body">
					<h2 class="h2 text-center mb-4">Mot de passe oublié</h2>
					<p class="text-center text-secondary mb-4">
						Saisissez votre adresse e-mail et nous vous enverrons un lien pour réinitialiser votre mot de passe.
					</p>

					{{ form_start(requestForm) }}
					{{ form_row(requestForm.email, {
						attr: { placeholder: 'votre@email.fr' }
					}) }}

					<div class="form-footer">
						<button type="submit" class="btn btn-primary w-100">
							<i class="ti ti-mail me-2"></i>
							Envoyer le lien de réinitialisation
						</button>
					</div>
					{{ form_end(requestForm) }}
				</div>
			</div>
			<div class="text-center text-secondary mt-3">
				<a href="{{ path('public_login') }}">Retour à la connexion</a>
			</div>
		</div>
	</div>
{% endblock %}
