{% extends "layout/base.html.twig" %}

{% block title %}
	{{ block('page_title') }}
	-
	{{ club.name ?? 'Club' }}
{% endblock %}

{% block navbar_brand %}
	<a href="{{ path('club_dashboard') }}">
		<img src="{{ asset('logo.png') }}" alt="Tarmac">
	</a>
{% endblock %}

{% block user_dropdown_subtitle %}
	<div class="mt-1 small text-secondary">{{ club.name|default('Club') }}</div>
{% endblock %}

{% block navbar_menu %}
	<div class="navbar-nav flex-md-row order-md-last">
		<div class="nav-item {{ app.request.get('_route') starts with 'club_equipment' ? 'active' : '' }}">
			<a href="{{ path('club_equipments') }}" class="nav-link">
				<span class="nav-link-icon d-md-none d-lg-inline-block">
					<i class="ti ti-plane"></i>
				</span>
				<span class="nav-link-title">
					{{ 'equipments'|trans }}
				</span>
			</a>
		</div>
		<div class="nav-item {{ app.request.get('_route') starts with 'club_task' ? 'active' : '' }}">
			<a href="{{ path('club_tasks') }}" class="nav-link">
				<span class="nav-link-icon d-md-none d-lg-inline-block">
					<i class="ti ti-checklist"></i>
				</span>
				<span class="nav-link-title">
					{{ 'tasks'|trans }}
				</span>
			</a>
		</div>
		<div class="nav-item {{ app.request.get('_route') starts with 'club_purchase' ? 'active' : '' }}">
			<a href="{{ path('club_purchases') }}" class="nav-link">
				<span class="nav-link-icon d-md-none d-lg-inline-block">
					<i class="ti ti-shopping-cart"></i>
				</span>
				<span class="nav-link-title">
					{{ 'purchases'|trans }}
				</span>
			</a>
		</div>
		{% if is_granted('MANAGE', club) %}
			<div class="nav-item {{ app.request.get('_route') starts with 'club_plan' ? 'active' : '' }}">
				<a href="{{ path('club_plans') }}" class="nav-link">
					<span class="nav-link-icon d-md-none d-lg-inline-block">
						<i class="ti ti-file-check"></i>
					</span>
					<span class="nav-link-title">
						{{ 'plans'|trans }}
					</span>
				</a>
			</div>
			<div class="nav-item {{ app.request.get('_route') starts with 'club_member' or app.request.get('_route') starts with 'club_invitation' ? 'active' : '' }}">
				<a href="{{ path('club_members') }}" class="nav-link">
					<span class="nav-link-icon d-md-none d-lg-inline-block">
						<i class="ti ti-users"></i>
					</span>
					<span class="nav-link-title">
						{{ 'members'|trans }}
					</span>
				</a>
			</div>
		{% endif %}
	</div>
{% endblock %}

{% block user_dropdown_menu %}
	{% if is_granted('IS_IMPERSONATOR') %}
		<a href="{{ path('admin_user_index', {_switch_user: '_exit'}) }}" class="dropdown-item text-primary">
			<i class="ti ti-logout"></i>
			{{ 'backToAdmin'|trans }}
		</a>
		<div class="dropdown-divider"></div>
	{% endif %}
	<a href="{{ url('public_profile_edit') }}" class="dropdown-item">
		<i class="ti ti-user"></i>
		{{ 'myProfile'|trans }}
	</a>
	{% if app.user.isAdmin() or app.user.getMemberships.count() > 1 %}
		<div class="dropdown-divider"></div>
		<a href="{{ path('public_clubs') }}" class="dropdown-item">
			<i class="ti ti-home"></i>
			{{ 'myClubs'|trans }}
		</a>
	{% endif %}
	{% if is_granted('ROLE_ADMIN') %}
		<div class="dropdown-divider"></div>
		<a href="{{ path('admin_dashboard') }}" class="dropdown-item">
			<i class="ti ti-shield"></i>
			{{ 'administration'|trans }}
		</a>
	{% endif %}
	<div class="dropdown-divider"></div>
	<a href="{{ path('public_logout') }}" class="dropdown-item">
		<i class="ti ti-logout"></i>
		{{ 'logout'|trans }}
	</a>
{% endblock %}

{% block body %}
	{# Page Header with Title #}
	<div class="page-header d-print-none">
		<div class="container-xl">
			<div class="row g-2 align-items-center">
				<div class="col-12 col-lg">
					{% block page_header %}
						{{ slope_it_breadcrumb() }}
						{% block page_pretitle %}{% endblock %}
						<h2 class="page-title">
							{{ block('page_title') }}
						</h2>
					{% endblock %}
				</div>
				<div class="col-12 col-lg-auto ms-lg-auto d-print-none">
					{% block page_actions %}{% endblock %}
				</div>
			</div>
		</div>
	</div>

	{# Page Body with Container #}
	<div class="page-body">
		<div class="container-xl">
			{% block page_content %}{% endblock %}
		</div>
	</div>
{% endblock %}

{# Define the page_title block that child templates will override #}
{% block page_title %}{% endblock %}
