{% extends 'app/base.html.twig' %}

{% block title %}Inviter un utilisateur
{% endblock %}

{% block body %}
	<div class="page-header d-print-none">
		<div class="container-xl">
			<div class="row g-2 align-items-center">
				<div class="col">
					<h2 class="page-title">
						Inviter un utilisateur
					</h2>
				</div>
			</div>
		</div>
	</div>

	<div class="page-body">
		<div class="container-xl">
			<div class="row">
				<div class="col-12 col-md-8 col-lg-6">
					<div class="card">
						<div class="card-body">
							{{ form_start(form) }}
							{{ form_row(form.email) }}
							{{ form_row(form.firstname) }}
							{{ form_row(form.lastname) }}
							{{ form_row(form.roles) }}

							<div class="form-footer">
								<button type="submit" class="btn btn-primary w-100 w-md-auto" style="min-height: 44px;">
									<i class="ti ti-mail me-2"></i>
									Envoyer l'invitation
								</button>
								<a href="{{ path('app_user_index') }}" class="btn btn-link w-100 w-md-auto mt-2 mt-md-0" style="min-height: 44px;">
									Annuler
								</a>
							</div>
							{{ form_end(form) }}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
